* 
	{
		box-sizing: border-box;
	}
	
	body 
	{
		font-family: Verdana, sans-serif;
	}

	h1		
	{
		color:white;
		text-align:center;
		font-size:30px;
		margin-left:10px;
	}
	
	h2		
	{
		color:brown;
		text-align:center;
		font-size:25px;
		margin:0px;
		padding:0px;
	}
	
	h3		
	{
		color:black;
		text-align:left;
		font-size:20px;
		margin-left:2px;
		padding:0px;
	}
		
	h3.big
	{
		line-height:1.5;
	}
	
	font
	{
		color:#FFFF66;
		text-align:left;
		font-size:20px;
		margin-left:10px;
	}
			
	.heading
	{
		background-color:red;
		color:white;
		height:120px;
		padding:2px;
	}
			
	.logo
	{
		width:90px;
		float:left;
		margin-top:5px;
		margin-left:5px;
		margin-bottom:2px;
	}
			
	.header
	{
		float:left;
		width:760px;	
		height:120px;
	}
			
	.main
	{
		height:480px;
		width:100%;
		background-image:url("back.jpg");
	}	
	
	.content1
	{
		width:80%;
		margin-left:230px;
	}
	
	.content2
	{
		margin-left:10px;
	}
	
	.footer
	{
		height:40px;
		background-color:red;
		padding:5px;
	}
	
	p
	{
		color:yellow;
		font-size:15px;
		margin:0px;
		padding:0px;
	}
	
	table,th,tr,td{
				border:2px solid black;
				padding:5px;
				margin:auto;
				color:black;
				background-color:#d0d0d0;
				text-align:center;
				font-size:15px;
				}
	
	caption
	{
		font-size:25px;
		color:brown;
	}
		
	.topnav 
	{
	  `	overflow: hidden;
		background-color: #333;
		width:220px;
		float:right;
		margin-top:30px;
	}

	.topnav a 
	{
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.topnav a:hover 
	{
		background-color: #ddd;
		color: black;
	}

	.topnav a.active 
	{
		background-color: #c0c0c0;
		color: white;
	}
	
	fieldset
	{
		margin-left:10px;
		margin-top:auto;
		margin-right:10px;
	}
	
	.sidenav 
	{
		width: 200px;
		position: absolute;
		top: 130px;
		background: #eee;
		overflow-x: hidden;
		padding: 8px 0;
		height:190px;
	}

	.sidenav a 
	{
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: #2196F3;
		display: block;
		height:50px;
	}

	.sidenav a:hover 
	{
		color: #064579;
	}